body {
    font-family: 'Roboto', sans-serif;
}

a#navdrop {
    text-decoration: none;
    color:#ffff;
}

form.form-inline {
    margin-top: 0.5em;
}

a.nav-link:hover {
    color: #ffff;
}

div#card-links{
    margin-left: 0.1pt;
}
